.password-form{
    margin-top: 10px;
    color: black;
}

.input-password{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.input-password *{
    font-size: 1.3rem;
}

.input-password div span{
    font-size: 0.8rem;
}


.password-list li{
    list-style-type: none;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    background-color: #f9f9f9;
}

.url-password span, .update span {
    font-weight: bold;
  }
  
.password-list button {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
.password-list button:hover {
    background-color: #45a049;
  }
  
.password-list input[type="text"] {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: calc(100% - 12px);
  }
  
.password-list input[type="text"]:focus {
    border-color: #4CAF50; 
  }

.password-list{
    display:inline-block;
    margin-left: 10px;
}